h2.ui.header.animated.fadeIn, h2.ui.header {
  font-family: 'Playfair Display', sans-serif;
  font-size: 2em;
}

h3.ui.header.animated.fadeIn, h3.ui.header {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}

h4.ui.header.animated.fadeIn {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

h5.ui.header {
  font-family: 'Playfair Display', sans-serif;
  text-align: center;
  font-size: 2em;
}
h2.ui.header {
  margin-top: 36px;
}

h3.ui.header {
  margin-top: 96px;
}

h4.ui.header {
  margin-top: 8px;
}

h6.ui.header {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: left;
  width: 50%
}

img.ui {
  margin-bottom: 8px;
}

.project-title a {
  font-size: 1.5em;
  color: #FFFF66;
}

.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #835DD4;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
