@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {

    }

    p {
      width: 100%;
      padding: 0px 16px;
    }

    h3.ui.header {
      margin: 24px 0px;
    }

    h6.ui.header.current-year {
      margin-top: 24px;
    }

    img.ui.massive.bordered.centered.image,
    img.ui.large.centered.image,
    img.ui.medium.centered.image  {
      width: 90%;
      margin: 0 auto;
    }
}
